
.s-left  a:hover {
    
        color:  white;
        border: 3px solid white;
        border-radius: 20px;
        background-color: #E28625;
        
}
.s-center  a:hover {

        color:  white;
        border: 3px solid white;
        border-radius: 20px;
        background-color:  #006971;
        
}
.s-right  a:hover {
    
        color:  white;
        border: 3px solid white;
        border-radius: 20px;
        background-color: #004140;
        
}



