body {
  color: white; }

a {
  color: white;
  text-decoration: none; }

.container {
  width: 920px;
  border-radius: 8px; }

.wrapper {
  margin-top: 50px; }

#s-left {
  background-color: #E28625;
  height: 500px; }

#s-center {
  background-color: #006971;
  height: 500px; }

#s-right {
  background-color: #004140;
  height: 500px; }

.car {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 47px; }

img {
  width: 63.91px;
  height: 40px; }

#s-left .nav-btn {
  text-align: center;
  width: 146px;
  height: 48px;
  border-radius: 20px;
  background-color: white; }
  #s-left .nav-btn a {
    display: inline-block;
    margin-top: 10px;
    color: #E28625; }

.desc {
  height: 125px;
  width: 212px;
  border-radius: nullpx; }
