@import "../base/variable.scss";
.wrapper {
    margin-top: 50px;
}
.car {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 47px;
    height: $s-height;
 }
.s-left {
    background-color: $s-left-color;
}
.s-center {
    background-color: $s-right-color;
}
.s-right {
    background-color: $s-center-color;
}
