
img {  
    width: 63.91px;
    height: 40px;
}
.s-left a {
        @extend .extend_a;
        color:   $s-left-color;   
}

.s-center a {
    
        @extend .extend_a;
        color:  $s-center-color;
}

.s-right a {
    
        @extend .extend_a;
        color:   $s-right-color;
    }

.desc {
    height: 125px;
    width: 212px;
    border-radius: 20px;
    
    }