.car {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 47px;
   
}
img {  
    width: 63.91px;
    height: 40px;
}
#s-left .nav-btn {
    
    text-align: center;
    width: 146px;
    height: 48px;
    border-radius: 20px;
    background-color: white;
    a {
        display: inline-block;
        margin-top: 10px;
        color:   #E28625;
        
    }
}

.desc {
    height: 125px;
    width: 212px;
    
    border-radius: nullpx;
    
    }